<div class="header-page">
  <div class="container">
    <nav class="nav-bar">
      <a id="logo" href="#">safeguard</a>
      <ul class="navbar-links">
        <li><a class="link" href="#">Home</a></li>
        <li><a class="link" href="#">About Us</a></li>
        <li><a class="link" href="#">What We Do</a></li>
        <div class="brd">
          <li><a id="contact" href="#">Contact Us</a></li>
        </div>
      </ul>
    </nav>
    <img class="img" src="../../../assets/imgs/space-helmetf5.png" alt="#" />
    <div class="header-content">
      <div class="header-title">Never Caught Off-Guard Again</div>
      <div class="header-subtitle">
        We are specialist in protecting your assets and reputation to make sure
        you operate risk-free and focus on your core business.
      </div>
      <div class="btn-container">
        <button>Learn More</button>
      </div>
    </div>
    <div class="btn-more-info">
      <button class="more-info">
        <img src="../../../assets/imgs/Group 2277.png" alt="#" />
      </button>
    </div>
  </div>
</div>
