@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");

@mixin black-color {
  color: #000000;
}

@mixin anton-400 {
  font-family: "Anton", sans-serif;
  font-style: normal;
}

@mixin ubuntu-500 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}

@mixin ubuntu-400 {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.body {
  background-color: #ffbc00;
  height: 100vh;
}

.container {
  .bg-img {
    position: absolute;
    top: 15%;
    left: 55%;
  }

  .logo {
    @include ubuntu-500;
    margin-left: 20px;
    color: #000000;
    font-weight: 700;
    font-size: 40px;
  }

  .navbar-nav {
    .nav-item {
      a {
        @include ubuntu-500;
        @include black-color;
        line-height: 21px;
        padding-left: 50px;
        text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
          0px -4px 10px rgba(255, 255, 255, 0.3);
      }

      .text-bag-light {
        background: white;
        border-radius: 12px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 36px;
      }
    }
  }

  .title {
    @include anton-400;
    @include black-color;
    margin-top: 191px;
    font-size: 68px;
    line-height: 130%;
    text-transform: uppercase;
  }

  .subtitle {
    @include ubuntu-400;
    font-size: 17px;
    width: 550px;
    margin-left: 70px;
    margin-left: 80px;
  }

  .btn-more {
    @include ubuntu-500;
    @include black-color;
    font-size: 17px;
    margin-top: 63px;
    margin-left: 90px;
    width: 176px;
    height: 65px;
    line-height: 61px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.72);
    border-radius: 16px;
  }

  .btn-scroll {
	margin-top: 65px;
	margin-left: 75px;
	width: 21px;
	height: 85px;
  }

  // Media quares
  .container-fluid {
    @media only screen and (max-width: 575.98px) {
      align-items: stretch;
    }
  }

  .logo {
    @media only screen and (max-width: 575.98px) {
      margin-left: 0px;
      margin-top: 30px;
      font-size: 25px;
    }
  }

  .img {
    @media only screen and (max-width: 575.98px) {
      max-width: 100%;
    }
  }

  .bg-img {
    @media only screen and (max-width: 575.98px) {
      left: 22%;
      top: 70%;
    }
  }

  .title {
    @media only screen and (max-width: 575.98px) {
      margin-top: 30px;
      padding-left: 27px;
      font-size: 42px;
    }
  }

  .subtitle {
    @media only screen and (max-width: 575.98px) {
      font-size: 14px;
      width: 350px;
      margin-left: 20px;
    }
  }

  .btn-more {
    @media only screen and (max-width: 575.98px) {
      margin-top: 30px;
      margin-left: 27px;
      width: 154px;
      height: 55px;
      line-height: 55px;
    }
  }

  .btn-scroll {
	@media only screen and (max-width: 575.98px) {
		display: none;
	}
  }

  .navbar-nav .nav-item a {
    @media only screen and (max-width: 575.98px) {
      font-size: 16px;
    }
  }
}
