@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");

@mixin black-color {
  color: #000000;
}

@mixin anton-400 {
  font-family: "Anton", sans-serif;
  font-style: normal;
}

@mixin ubuntu-500 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}

@mixin ubuntu-400 {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.bg-img {
  background-color: #ffbc00;
  height: 100vh;
  .container {
    .header {
      .navbar {
        .logo {
          a {
            @include ubuntu-500;
            margin-left: 140px;
            color: #000000;
            font-weight: 700;
            font-size: 40px;
          }
        }

        .navbar-nav {
          .nav-item {
            a {
              @include ubuntu-500;
              @include black-color;
              line-height: 21px;
              padding-left: 50px;
              text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
                0px -4px 10px rgba(255, 255, 255, 0.3);
            }

            .text-bg-light {
              border-radius: 12px;
              padding-left: 20px;
              padding-right: 20px;
              margin-left: 36px;
            }
          }
        }
      }
    }
  }

  .container {
    .title {
      margin-top: 191px;
      @include anton-400;
      @include black-color;
      width: 437px;
      font-size: 68px;
      line-height: 130%;
      text-transform: uppercase;
    }

    .subtitle {
      margin-top: 33px;
      @include ubuntu-400;
      margin-left: 80px;
      width: 560px;
      text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(255, 255, 255, 0.3);
    }

    .img-fluid {
      margin-top: 150px;
      margin-left: 127px;
    }

    .btn-container {
      @include ubuntu-500;
      @include black-color;
      margin-top: 63px;
      margin-left: 77px;
      width: 176px;
      height: 65px;
      line-height: 61px;
      text-align: center;
      background-color: #ffffff;
      box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.72);
      border-radius: 16px;
    }
    .more-info {
      margin-top: 65px;
      margin-left: 75px;
      width: 21px;
      height: 85px;
    }
  }
}
